@model IT.Models.THONGKE
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
@section styles {
    <style>
        .badge {
            font-size:90% !important;
        }
    </style>
    
}
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="float-right">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Hệ thống</a></li>

                    <li class="breadcrumb-item active">Trang chủ</li>
                </ol>
            </div>
            <h4 class="page-title">Trang Chủ</h4>
        </div><!--end page-title-box-->
    </div><!--end col-->
</div>
<div class="row justify-content-center">
    <div class="col-md-4 col-lg-4">
        <div class="card report-card bg-purple-gradient shadow-purple">
            <div class="card-body">
                <div class="float-right">
                    <i class="fa fa-laptop report-main-icon bg-icon-purple"></i>
                </div>
                <span class="badge badge-light text-purple">TỔNG THIẾT BỊ ĐÃ NHẬP / TỔNG THIẾT BỊ</span>
                <h3 class="my-3">@Model.tongthietbinhap / @Model.tongthietbi</h3>
                <p class="mb-0 text-truncate">Đã nhập <span class="text-success font-weight-bold">@(Model.tongthietbinhap*100/Model.tongthietbi) % </span></p>
            </div><!--end card-body-->
        </div><!--end card-->
    </div> <!--end col-->
    <div class="col-md-4 col-lg-4">
        <div class="card report-card bg-warning-gradient shadow-warning">
            <div class="card-body">
                <div class="float-right">
                    <i class="fa fa-user report-main-icon bg-icon-warning"></i>
                </div>
                <span class="badge badge-light text-danger">TỔNG THIẾT BỊ ĐÃ GIAO / TỔNG THIẾT BỊ ĐÃ NHẬP</span>
                <h3 class="my-3">@(Model.tongthietbinhap - Model.tongthietbichuagiao) / @Model.tongthietbinhap</h3>
                <p class="mb-0 text-truncate">Đã giao <span class="text-success font-weight-bold">@((Model.tongthietbinhap - Model.tongthietbichuagiao)*100/Model.tongthietbinhap) % </span></p>
            </div><!--end card-body-->
        </div><!--end card-->
    </div> <!--end col-->
    <div class="col-md-4 col-lg-4">
        <div class="card report-card bg-danger-gradient shadow-danger">
            <div class="card-body">
                <div class="float-right">
                    <i class="fa fa-warehouse report-main-icon bg-icon-danger"></i>
                </div>
                <span class="badge badge-light text-danger">TỔNG THIẾT BỊ CHƯA GIAO / TỔNG THIẾT BỊ ĐÃ NHẬP</span>
                <h3 class="my-3">@Model.tongthietbichuagiao / @Model.tongthietbinhap</h3>
                <p class="mb-0 text-truncate">Chưa giao <span class="text-success font-weight-bold">@(Model.tongthietbichuagiao * 100/Model.tongthietbinhap) % </span></p>
            </div><!--end card-body-->
        </div><!--end card-->
    </div> <!--end col-->

</div>
<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title mt-0">THỐNG KÊ THEO PHÒNG</h4>
                @*<div id="ana_device" class="apex-charts"></div>*@
                <div class="table-responsive mt-4">
                    <table class="table mb-0">
                        <thead class="thead-light">
                            <tr>
                                <th>Phòng ban</th>
                                <th>Số lượng</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var i in Model.thongke1)
                            {
                                <tr>
                                    <td>@i.loai</td>
                                    <td>@i.soluong</td>

                                </tr>

                            }


                        </tbody>
                    </table><!--end /table-->
                </div>
            </div><!--end card-body-->
        </div><!--end card-->
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title mt-0">THỐNG KÊ THEO KHU VỰC</h4>
                @*<div id="ana_device" class="apex-charts"></div>*@
                <div class="table-responsive mt-4">
                    <table class="table mb-0">
                        <thead class="thead-light">
                            <tr>
                                <th>Khu vực</th>
                                <th>Số lượng</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var i in Model.thongke2)
                            {
                                <tr>
                                    <td>@i.loai</td>
                                    <td>@i.soluong</td>

                                </tr>

                            }


                        </tbody>
                    </table><!--end /table-->
                </div>
            </div><!--end card-body-->
        </div><!--end card-->
    </div>

</div>
@section scripts {
    <script src="/Content/assets/plugins/apexcharts/apexcharts.min.js"></script>
    @*<script>
                $(document).ready(function () {
                    var soluong = [];
                    var loai = [];
                    $('.table > tbody  > tr').each(function () {
                        loai.push($(this).find("td:eq(0)").text());
                        soluong.push($(this).find("td:eq(1)").text());
                    });
        var options = {
                        chart: {
            height: 250,
                            type: 'donut',
                            dropShadow: {
                enabled: true,
                                top: 10,
                                left: 0,
                                bottom: 0,
                                right: 0,
                                blur: 2,
                                color: '#b6c2e4',
                                opacity: 0.15
                            },
                        },
                        plotOptions: {
            pie: {
                donut: {
                    size: '85%'
                                }
            }
        },
                        dataLabels: {
            enabled: false,
                        },

                        series: soluong,
                        legend: {
            show: true,
                            position: 'bottom',
                            horizontalAlign: 'center',
                            verticalAlign: 'middle',
                            floating: false,
                            fontSize: '14px',
                            offsetX: 0,
                            offsetY: -13
                        },
                        labels: loai,
                        //colors: ["#34bfa3", "#5d78ff", "#fd3c97"],

                        responsive: [{
            breakpoint: 600,
                            options: {
                plotOptions: {
                    donut: {
                        customScale: 0.2
                                    }
                },
                                chart: {
                    height: 240
                                },
                                legend: {
                    show: false
                                },
                            }
        }],

                        tooltip: {
                            y: {
                                formatter: function (val) {
                                    return val + " %"
                                }
                            }
                        }

                    }

                    var chart = new ApexCharts(
                      document.querySelector("#ana_device"),
                      options
                    );

                    chart.render();
                });
            </script>*@
}
