@model List<IT.Models.TBL_DANHSACHNGAYNGHI>
<table class="table table-striped table-bordered w-100" id="datatable-buttons">
    <thead>
        <tr>
            <th>STT</th>
            <th>Lý do nghỉ</th>
            <th>Loại phép</th>
            <th>Thời gian nghỉ</th>
            <th>Số ngày nghỉ</th>
            <th>Ngày tạo</th>
            <th>Trạng thái</th>
            <th>Hành động</th>
        </tr>
    </thead>
    <tbody>
        @{
            var count = 1;
            foreach (var item in Model.OrderByDescending(n => n.ngaytao))
            {
                <tr role="row" class="odd">

                    <td data-id="@item.Id">@count</td>

                    <td>@item.TBL_DANHSACHLOAIPHEP.tenphep</td>

                    <td>@item.lydo</td>
                    <td>
                        @item.tungay.ToString("dd/MM/yyyy") (@if (item.buoitungay == 1)
                        {<span>Sáng</span>}
                        else
                        { <span>Chiều</span>}) - @item.denngay.ToString("dd/MM/yyyy") (@if (item.buoidenngay == 1)
                        {<span>Sáng</span>}
                        else
                        {<span>Chiều</span>})
                    </td>
                    <td>@item.songaynghi</td>
                    <td>@item.ngaytao</td>
                    @if (item.trangthai == 1)
                    {
                        <td><span class="badge badge-md badge-soft-warning">Đang chờ duyệt</span></td>
                    }
                    else if (item.trangthai == 2)
                    {
                        <td><span class="badge badge-md badge-soft-success">Đã duyệt</span></td>
                    }
                    else
                    {
                        <td><span class="badge badge-md badge-soft-danger">Từ chối</span></td>
                    }
                <td class="p-0 text-center">
                    @if (item.trangthai == 1)
                    {

                      
                        <button value="@item.Id" data-target="#modeledit" type="button" class="tabledit-edit-button btn btn-sm btn-primary btnedit" style="float: none; margin: 4px;"><span class="ti-pencil-alt"></span></button>

                        @*<button value="@item.Id" class="btndelete border-0"><i class="fas fa-trash-alt text-danger font-16"></i></button>*@
                        <button value="@item.Id" type="button" class="tabledit-edit-button btn btn-sm btn-danger btndelete" style="float: none; margin: 4px;"><span class="ti-trash"></span></button>
                    }
                    else
                    {
                        <button value="@item.Id" data-target="#modelview" type="button" class="tabledit-edit-button btn btn-sm btn-success btnview" style="float: none; margin: 4px;"><span class="ti-eye"></span></button>

                    }
                </td>

                </tr>
                count = count + 1;
            }
        }
    </tbody>
</table><!--end table-->